{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/modal.css' %}"></head>

<form method="POST" style="align-content: center;">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <div align="justify">
            <label for="floatingInput" >Elegí tu barrio:</label>
            <select name="barrio">
                {% for n in neighborhoods %}
                <option value="{{ n.pk }}">{{ n.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button id="btn-registration" class="w-100 mb-2 btn btn-lg btn-primary" type="submit">Guardar</button>
</form>
{% endblock content %}