{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #floatingInput:focus{
    box-shadow: 0 0 0 0.25rem black;
    border: black;
    }
</style>
<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin" style="background-color: #036749;" >
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h4 class="fw-bold mb-0">Recuperar contraseña</h4>
                <a href="/">
                    <button id="btn-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </a>
            </div>

            <div class="modal-body p-5 pt-0">
                <form method="POST" style="align-content: center;">
                    {% csrf_token %}

                    {% if not form.errors.email%}
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-4" id="floatingInput" placeholder="Email" name="email">
                        <label for="floatingInput">Email</label>
                    </div>
                    {% endif %}

                    {% if form.errors.email %}
                    <div class="form-floating mb-3 has-danger">
                        <input type="email" class="form-control rounded-4 is-invalid" id="inputInvalid" placeholder="Email" name="email">
                        <label for="floatingInput" >Email</label>
                        <div class="invalid-feedback">{{form.errors.email}}</div>
                    </div>
                    {% endif %}

                    <button id="btn-password-reset" class="w-100 mb-2 btn btn-lg rounded-4" type="submit">Enviar link</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}