{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if validlink %}
<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin" style="background-color: #036749;" >
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">

      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h2 class="fw-bold mb-0">Cambiar contraseña</h2>
        <a href="/">
          <button id="btn-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </a>
      </div>

      <div class="modal-body p-5 pt-0">
        <form method="POST" style="align-content: center;">
          {% csrf_token %}

          {% for field in form %}
          <div class="profile-input w33">

            {% if not field.errors %}
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-4" id="floatingInput" placeholder="{{ field.name }}" name="{{ field.name }}">
              <label for="floatingInput">{{ field.label }}</label>
            </div>
            {% endif %}

            {% if field.errors %}
            <div class="form-floating mb-3 has-danger">
              <input type="password" class="form-control rounded-4 is-invalid" id="inputInvalid" placeholder="{{ field.name }}" name="{{ field.name }}">
              <label for="floatingInput" >{{ field.label }}</label>
              <div class="invalid-feedback">{{field.errors}}</div>
            </div>
            {% endif %}

          </div>
          {% endfor %}

          <button id="btn-password-reset" class="w-100 mb-2 btn btn-lg rounded-4" type="submit">Cambiar contraseña</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin" style="background-color: #036749;" >
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <div align="left" style="width:80px">
          <img src="{% static '/img/safetypin.png' %}" width="80%">
        </div>
        <a href="/">
          <button id="btn-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </a>
      </div>
      <div class="modal-body p-5 pt-0">
        <div align="justify">
          <b>
            El link de reseteo de contraseña fue inválido, posiblemente porque ya ha sido usado.
          </b>
          <br>
          <br>
          <b>
            Solicitá un nuevo restablecimiento de contraseña <a href="/password_reset/">acá</a>.
          </b>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}