.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}


.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: .75rem; }
.rounded-6 { border-radius: 1rem; }

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.border-right { border-right: 1px solid #eee; }

.modal-tour .modal-dialog {
  width: 380px;
}

#btn-google-login {
                color: #e60023;
                border-color: #e60023;
                }

#btn-google-login:hover {
    color: white;
    background-color: #e60023;
    border-color: #e60023;
}

#btn-facebook-login {
                color: #1877f2;
                border-color: #1877f2;
                }

#btn-facebook-login:hover {
    color: white;
    background-color: #1877f2;
    border-color: #1877f2;
}

#btn-login{
    background-color: #036749;
    border-color: #036749;
    color:white;
}

#btn-login:hover{
    background-color: black;
    border-color: black;
    color:white;
}

#btn-registration{
    background-color: #036749;
    border-color: #036749;
    color:white;
}

#btn-registration:hover{
    background-color: black;
    border-color: black;
    color:white;
}

#btn-password-reset{
    background-color: #036749;
    border-color: #036749;
    color:white;
}

#btn-password-reset:hover{
    background-color: black;
    border-color: black;
    color:white;
}

#btn-close:active{
    color:black;
}
