{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
    .comment-form {
        width: 100%;
        padding: 15px;
        margin: auto;
    }

    body{
        background-color: #f0f0f0;
    }

    .msgs{
        width: 100%;
    }

    .msgs .right-msg{
        float: left;
        width: 80%;
    }

    .msgs .left-msg{
        float: right;
        width: 80%;
    }

    .msgs .msg p{
        color: black;
        margin: 0 0 10px 0;
    }

    .leftBubble{
        position: relative;
        background-color: whitesmoke;
        padding: 1px;
        color: #222;
        border-radius: 8px;
    }

    .leftBubble:after{
        content: "";
        display: block;
        position: absolute;

        top: 5px;
        left: -11px;

        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;

        border-right: 15px solid whitesmoke;
    }

    .rightBubble{
        position: relative;
        background-color: mistyrose;
        padding: 1px; /* ancho mensaje */
        color: #222;
        border-radius: 8px;
    }

    .rightBubble:after{
        content: "";
        position: absolute;

        top: 5px; /* distancia del piquito */
        right: -23px;

        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-width: 13px 13px 13px 13px; /* forma del piquito */

        border-left-color: mistyrose;
    }

    .text{
        bottom: 5%;
        width: 100%;
        position: fixed;
    }

    .text-right{text-align: right;}

    .text-left{text-align: left;}

    .right{
        float: right;
    }

    #global {
        width: 90%;
        background: #036749;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .circle-img-right {
        width: 50px;
        height: 50px;
        overflow: hidden;
        margin-left: auto;
        float: right;
    }

    .circle-img-right img {
        height: 100%;
        margin-left: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .circle-img-left {
        width: 50px;
        height: 50px;
        overflow: hidden;
        margin-right: auto;
        float: left;
    }

    .circle-img-left img {
        height: 100%;
        margin-left: 50%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div id="respond" class="text">
    <h2 class="text-center" style="color: whitesmoke">Chat Barrio {{ neighborhood.name }}</h2>
    <br>
    <div id="global" class="container">
        {% for message in msgs %}
            <div class="row">
                {% if message.user == request.user %}
                <div class="right">
                    <div class="msgs">
                        <div class="text-right">
                            <small style="color: whitesmoke"><strong>Tu</strong></small>
                        </div>
                        <div class="circle-img-right rounded-circle">
                            {% if message.user.profile.avatar.url == None %}
                                <img src="{% static '/img/default.jpeg' %}" style="cursor: pointer;"/>
                            {% else %}
                                <img src="{{ message.user.profile.avatar.url }}" style="cursor: pointer;"/>
                            {% endif %}
                        </div>
                        <div class="right-msg rightBubble">
                            <p>{{ message.message|linebreaks }}</p>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <small style="font-size: x-small;color: whitesmoke">{{ message.time|date:"H:i" }} {{ message.time.day }}/{{ message.time.month }}</small>
                </div>
                {% else %}
                <div class="msgs">
                    <div class="text-left">
                        <small style="color: whitesmoke"><strong>{{ message.user }}</strong></small>
                    </div>
                    <div class="circle-img-left rounded-circle">
                        {% if message.user.profile.avatar.url == None %}
                            <img src="{% static '/img/default.jpeg' %}" style="cursor: pointer;"/>
                        {% else %}
                            <img src="{{ message.user.profile.avatar.url }}" style="cursor: pointer;"/>
                        {% endif %}
                    </div>
                    <div class="left-msg leftBubble">
                        <p>{{ message.message|linebreaks }}</p>
                    </div>
                </div>
                <div class="text-left">
                    <small style="font-size: x-small;color: whitesmoke">{{ message.time|date:"H:i" }} {{ message.time.day }}/{{ message.time.month }}</small>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <form method="post" id="form" class="comment-form">{% csrf_token %}
        <div class="input-group mb-3" style="width: 100%">
            <input type="text" class="form-control" placeholder="Escribe aqui..." name="message">
            <div class="input-group-append">
                <button id="animado" class="btn btn-outline-light" type="submit">Enviar</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){
        $("#global").animate({ scrollTop: 1000000000 }, "fast");
    });
    var height = $(window).height();
    var percentage = (40*height)/100;
    $('#global').height(height-percentage);
</script>
{% endblock content %}
