{% block list %}
<br>
<h3 class="fw-bold mb-0" style="color:white;">Barrios</h3>
<br>
<div class="table-responsive" style="background:white;">
    <table class="table table-hover light" id="images-table">
        <tbody>
        {% for n in neighborhoods %}
        <!-- Si está el vinculado al user, destacarlo de alguna forma, con etiqueta "tu barrio"-->
        <tr>
            <a href="{% url 'neighborhood:neighborhoodProfile' n.pk %}" class="stretched-link">
                <td>{{n.name}}</td>
            </a>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock list %}
