{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if neighborhood is not None %}
<div class="text-center">
    <br>
    <h5>Fotos cargadas</h5>
    <a href="/neighborhood/images/upload/">Agregar nueva</a>
</div>

<br>
<div class="container; text-center">
    {% for image in images %}
    <div class="row">
        <p style="border: ridge #000000 2px;">
        <div class="col-sm">
            <img class="d-block w-100" src="{{ image.image.url }}" alt="Imagen">
            <br>
        </div>
        <div class="col-sm">
            {{ image.title }}
        </div>
        <div class="col-sm">
            <a href="/neighborhood/image/{{ photo.pk }}/delete/" onClick="return confirm('¿Seguro que quieres borrar la imagen?');">
                <strong>Eliminar</strong>
            </a>
            <br>
        </div>
        <br>
        </p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Primero debe cargar información del barrio para subir imágenes del mismo</p>
{% endif %}
{% endblock content %}