{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if neighborhood is not None %}
<div class="text-center">
    <br>
    <h5>Puntos de interés cargados</h5>
    <a href="/neighborhood/point_of_interest/">Agregar nuevo</a>
</div>

<br>
<div class="container; text-center">
    {% for point in points %}
    <div class="row">
        <p style="border: ridge #000000 2px;">
        <div class="col-sm">
            <img class="d-block w-100" src="{{ photo.image.url }}" alt="Imagen">
            <br>
        </div>
        <div class="col-sm">
            {{ point.title }}
        </div>
        <div class="col-sm">
            <a href="/neighborhood/point_of_interest/{{ photo.pk }}/delete/" onClick="return confirm('¿Seguro que quieres borrar el punto de interés {{  }}?');">
                <strong>Eliminar</strong>
            </a>
            <br>
            <a href="/neighborhood/point_of_interest/{{ point.pk }}/" class="btn btn-secondary btncerrar">Editar</a>
            <br>
        </div>
        <br>
        </p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Primero debe cargar información del barrio para agregar puntos de interés</p>
{% endif %}

{% endblock content %}