{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if neighborhood is not None %}
<br>
<div class="text-center" style="width:200px; margin:auto;">
    <a href="/neighborhood/points_of_interest/add/">
        <button type="button" class="btn btn-outline-dark" style="width:100%;">
            Nuevo punto de interés
        </button>
    </a>
</div>



<br>
<div class="container; text-center">
    {% for point in points %}
    <div class="row">
        <p style="border: ridge #000000 2px;">
        <div class="col-sm" style="color:black;">
        {{ point.point_of_interest.name }}
        </div>
        <div class="col-sm">
            <a href="/neighborhood/point_of_interest/{{ point.point_of_interest.pk }}/delete/" onClick="return confirm('¿Seguro que quieres borrar el punto de interés {{ point.point_of_interest.name }}?');">
                <strong>Eliminar</strong>
            </a>
            <br>
            <a href="/neighborhood/point_of_interest/{{ point.point_of_interest.pk }}/edit/" class="btn btn-secondary btncerrar">Editar</a>
            <br>
        </div>
        <br>
        </p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Primero debe cargar información del barrio para agregar puntos de interés</p>
{% endif %}

{% endblock content %}