{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<br/>
<br/>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">{{ post.tittle }}</h1>
        <p class="lead">Por <strong>{{ post.author }}</strong></p>
        <hr class="my-4" color="#000000">
        {{ post.body | safe }}
        <a class="btn btn-primary btn-lg" href="{% url 'forum:posts' %}" role="button">Volver</a>
    </div>
</div>

{% include "comments.html" %}

{% endblock content %}
