{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/modal.css' %}">
<br>
<div class="modal modal-signin position-static d-block py-4" tabindex="-1" role="dialog" id="modalSignin" style="background-color: #036749; width:100%;align-items:center;" >
    <div style="width: 90%; margin-right: auto;
             margin-left: auto;">
        <div class="modal-content rounded-5 shadow" >
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h4 class="fw-bold mb-0">
                    Nueva publicación
                </h4>
            </div>
            <div class="modal-body p-7 pt-0" style="padding: 30px; width: 100%;" align="center">
                <form method="POST" style="width:100%">
                    {% csrf_token %}
                    {{ form.media }}
                    <strong>
                        <label><p>Título</p></label>
                    </strong>
                    {{ form.title }}
                    <br>
                    {{ form.body }}
                    <br><br>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{% url 'forum:posts' %}"><button type="button" class="btn btn-light" >Cancelar</button></a>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    CKEDITOR.replace( 'body', {
     'toolbar':   [
	{ name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline','TextColor', 'BGColor'] }],
        'height': '100%',
        'width': '100%'
    })
</script>
{% endblock content %}
