{% extends "base.html" %}
<script type="text/javascript" src="lib.js"></script>
{% block content %}
<style>
        .btn-outline-dark {
          color: black;
          border-color: white;
          background-color: white;
        }
        .btn-outline-dark:hover {
          color: white;
          background-color: black;
          border-color: black;
        }
</style>
<div class="text-center">
    <form action="" method="POST" class="post-form">{% csrf_token %}
        <br>
        <h4 style="color:white;">Elija un motivo de denuncia</h4>
        <br>
        {{ form.reason }}
        <br>
        <br>
        <a class="btn btn-outline-dark" role="button" value="Cancelar" href="{% url 'forum:postDetail' comment.post.pk %}">Cancelar</a>
        <button class="btn btn-danger btn-denunciar" type="submit" value="Denunciar">Denunciar</button>
        <br>
        <br>
    </form>
    {% endblock content %}
</div>
