<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>conocemibarrrio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load pwa %}
    {% progressive_web_app_meta %}
    <link rel="manifest" href="manifest.json">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/css/modal.css' %}">
    {% block header %}
        {% include "header.html" %}
    {% endblock header %}
    {% block messages %}
        {% include "messages.html" %}
    {% endblock messages %}
    <style>
        .btn-outline-dark {
          color: black;
          border-color: white;
          background-color: white;
        }
        .btn-outline-dark:hover {
          color: white;
          background-color: black;
          border-color: black;
        }
        #btn-create-n, #btn-edit-n, #btn-imgs-n, #btn-points-n:focus{
         box-shadow: none;
       }
    </style>

    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js"></script>

    <script type="module">

        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyBdGZanwe4TlpxENzBV8EuUoRxgClGf-RQ",
            authDomain: "conocemibarrio.firebaseapp.com",
            projectId: "conocemibarrio",
            storageBucket: "conocemibarrio.appspot.com",
            messagingSenderId: "497938302411",
            appId: "1:497938302411:web:cd5cea068c5df16ca1e24e"
        };

        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        const messaging = firebase.messaging();
        console.log(messaging.getToken());
        messaging.getToken({ vapidKey: 'BKXmHplx8qZkh8l7DXbfWE-hZr9yllqKYdue0p503DCb_lqgTTpE9QeniXDHuE5jMDJFzHX8p84aODT6npPvP1A' }).then((currentToken) => {
            if (currentToken) {
                console.log(currentToken)
            } else {
                console.log('No registration token available. Request permission to generate one.');
            }
        }).catch((err) => {
            console.log('An error occurred while retrieving token. ', err);
        });

        messaging
            .requestPermission()
            .then(function () {
                console.log("Notification permission granted.");
                return messaging.getToken()
            })
            .catch(function (err) {
                console.log("Unable to get permission to notify.", err);
            });

    let deferredPrompt;

    window.addEventListener('beforeinstallprompt', function(event) {
      // Prevent Chrome 67 and earlier from automatically showing the prompt
      e.preventDefault();
      // Stash the event so it can be triggered later.
      deferredPrompt = e;
    });

    // Installation must be done by a user gesture! Here, the button click
    btnAdd.addEventListener('click', (e) => {
      // hide our user interface that shows our A2HS button
      btnAdd.style.display = 'none';
      // Show the prompt
      deferredPrompt.prompt();
      // Wait for the user to respond to the prompt
      deferredPrompt.userChoice
        .then((choiceResult) => {
          if (choiceResult.outcome === 'accepted') {
            console.log('User accepted the A2HS prompt');
          } else {
            console.log('User dismissed the A2HS prompt');
          }
          deferredPrompt = null;
        });
    });
    </script>
</head>
<body class="text-center" style="background-color: #036749; padding-bottom: 50px">
<main>
    {% if request.user.is_authenticated and user.groups.all.0.name == "neighborhood-admin"%}
        {% if request.path != '/create_neighborhood/' and request.path != '/neighborhood/images/' and request.path != '/neighborhood/images/upload/' and request.path !=  '/neighborhood/information/' and request.path !=  '/neighborhood/points_of_interest/' and request.path != '/neighborhood/points_of_interest/add/' and 'edit' not in request.path and 'image' not in request.path %}
    <br>
    <div role="group" style="width:80%; margin:auto;">
        {% if n.is_active == 0 %}
        <a href="/neighborhood/information/">
            <button id="btn-create-n" type="button" class="btn btn-outline-dark" style="width:100%;">
                Cargar información del barrio
            </button>
        </a>
        <br><br>
        {% else %}
        <a href="/neighborhood/information/edit/">
            <button id="btn-edit-n" type="button" class="btn btn-outline-dark" style="width:100%;">
            Editar información del barrio
            </button>
        </a>
        <br><br>
        {% endif %}
        <a href="/neighborhood/images/">
            <button id="btn-imgs-n" type="button" class="btn btn-outline-dark" style="width:100%;">
                Imágenes
            </button>
        </a>
        <br><br>
        <a href="/neighborhood/points_of_interest/">
            <button id="btn-points-n" type="button" class="btn btn-outline-dark" style="width:100%;">
                Puntos de interés
            </button>
        </a>
    </div>
    {% endif %}
    {% else %}
    {% if request.user.is_authenticated and user.is_superuser == 0 and request.path != '/profile/'%}
    Hola {{ user.username }} del grupo {{ user.groups.all.0 }}
    {% if neighborhood == null and request.path != '/join_neighborhood/' and user.groups.all.0.name != "neighborhood-admin"%}
        <a href="/join_neighborhood/" style="color: black">Unirme a un barrio</a>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if request.user.is_authenticated and user.is_superuser == 1 %}
    {% if request.path == '/' %}
    <br>
    <div role="group" style="width:80%; margin:auto;">
        {% if n == null %}
        <a href="/administration/requests/">
            <button id="btn-create-n" type="button" class="btn btn-outline-dark" style="width:100%;">
                Solicitudes de administración de barrios
            </button>
        </a>
        <br><br>
        {% else %}
        <a href="/neighborhood/information/edit/">
            <button id="btn-edit-n" type="button" class="btn btn-outline-dark" style="width:100%;">
                Opción 2
            </button>
        </a>
        <br><br>
        {% endif %}
    </div>
    {% endif %}
    {% endif %}

    {% block content %}
    {% endblock content %}

    {% if not request.user.is_authenticated or request.user.is_authenticated and user.is_superuser != 1 and user.groups.all.0.name != "neighborhood-admin" %}
        {% block menu %}
            {% include "menu.html" %}
        {% endblock menu %}
    {% endif %}
</main>
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
