<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    nav {
        position: relative;
        width: 100%;
        height: 50px;
        background-color: white;
        font-size: 0;
    }
    nav a {
        line-height: 8%;
        height: 100%;
        font-size: 15px;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    a:nth-child(1) {
        width: 20%;
    }
    a:nth-child(2) {
        width: 20%;
    }
    a:nth-child(3) {
        width: 20%;
    }
    a:nth-child(4) {
        width: 20%;
    }
    a:nth-child(5) {
        width: 20%;
    }

    span {
        color: white;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5%;
        color: white;
        top: 95%;
    }

    #footer-div {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 6%;
        background-color: white;
        top: 94%;
    }
</style>

<footer>
    <div id="footer-div"></div>
    <nav>
        <a href="{% url 'registration:home' %}"><img src="/static/img/home.png"
                                                     width="25"
                                                     height="25"></a>
        <a href="{% url 'forum:posts' %}"><img src="/static/img/forum.png"
                         width="25"
                         height="25"></a>
        <a href="{% url 'realtime_map:showRealTimeMap' %}"><img src="/static/img/location.png"
                         width="25"
                         height="25"></a>
        <a href="#"><img src="/static/img/chat.png"
                         width="25"
                         height="25"></a>
        <a href="{% url 'profile:users-profile' %}"><img src="/static/img/profile.png"
                         width="25"
                         height="25"></a>
    </nav>
</footer>

<script>
    $(document).ready(function(){
        $("#myBtn").click(function(){
            $("#myModal").modal();
        });
    });
</script>
